<div class="row">
  <div class="col-xs-12">
    <h1>admin</h1>
  </div>

	<center>
	  <%= form_tag(rescrape_path, method: 'post') do %>
	    <p>Rescrape data to update the database with new books and prices.<br>
	      Warning, the scraping will take a long time to finish!</p>
	    <%= label_tag('password', 'Admin password:') %>
	    <%= password_field_tag('password', '', autofocus: 'true') %>
	    <%= submit_tag('Rescrape', class: 'btn btn-danger') %>
	  <% end %>
	</center>

  <p><%= link_to 'Home', root_path %></p>
  <p><%= link_to 'See all our books!', books_path %></p>
</div>