<div id="results" class="col-xs-12">
  <% if @books.any? %>
    <div style="text-align: center;">
      <p>
        <strong><%= @books.count %> books!</strong>
      </p>
    </div>

    <table width="100%" class="table-striped">
      <thead>
      <tr>
        <th>ISBN-13</th>
        <th>Title</th>
        <th>Author</th>
        <th>Price</th>
        <th>Image</th>
        <th>Topic</th>
        <th>Store</th>
      </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr id='<%= "book-#{book.id}" %>'>
          <td><%= book.isbn13 %></td>
          <td><%= link_to book.title, book.url, target: '_blank' %></td>
          <td><%= book.author_name %></td>
          <td><%= format '%.2f', book.price %></td>
          <td><%= image_tag book.image_url %></td>
          <td><%= book.skill %></td>
          <td><%= book.shop %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div style="text-align: center;">
      <p>
        <strong>No books!</strong>
      </p>
    </div>
  <% end %>

</div>